@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-4">
            <img src="~/Content/Image/Logo.jpg" width="300" height="300" class="img-circle" />
        </div>
        <div class="col-md-8">
            <h1>Control de Acceso MVC</h1>
            <p class="lead">Sistema para el control de visitas</p>
            <p>@Html.ActionLink("Comenzar a Trabajar", "Index", "Personas", new { area = "" }, new { @class = "btn btn-primary btn-lg" })</p>
        </div>
    </div>
</div>